[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Package Manager
Packages/packages-lock.json
Library/PackageCache/

# Visual Studio / Rider
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj

# OS
.DS_Store
Thumbs.db

# ROS2
ros2_ws/build
ros2_ws/install
ros2_ws/log

# Unity built files
built_up_UNetyEmuROS/
*.x86_64
*_Data/
